body {
    font-family: "Arial";
}

img {
    width: 200px;
}

.purple {
    color: #a877c8 !important;
}

nav {
    background-color: #a877c8;
}

.active, body {
    background-color: #b37fd5;
}

header {
    position: relative;
}

header button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.rounded {
    border-radius: 15px !important;
}

.shadow {
    filter: drop-shadow(0px 5px 2px rgba(0,0,0,0.4));
}

.border {
    border-color: #a877c8 !important;
}